[submodule "8141-geth"]
	path = 8141-geth
	url = https://github.com/sm-stack/8141-geth
[submodule "solidity-eip8141"]
	path = solidity-eip8141
	url = https://github.com/sm-stack/solidity-eip8141
[submodule "contracts/lib/solady"]
	path = contracts/lib/solady
	url = https://github.com/Vectorized/solady
